<!DOCTYPE html>
<html>
    <head>
        <title>Test title</title>
    </head>
    <body>
        @RenderSection("header", false)
        <h2>Application.cshtml</h2>
        @RenderBody()
        @RenderSection("footer", false)
    </body>
</html>