<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.365" />
  <package id="FubuCore" version="0.9.9.182" />
  <package id="FubuLocalization" version="0.9.5.79" />
  <package id="FubuMVC.Core" version="0.9.8.1195" targetFramework="net40" />
  <package id="FubuMVC.Core.Assets" version="0.9.8.1195" targetFramework="net40" />
  <package id="FubuMVC.Core.UI" version="0.9.8.1195" targetFramework="net40" />
  <package id="FubuMVC.Core.View" version="0.9.8.1195" targetFramework="net40" />
  <package id="FubuTestingSupport" version="0.9.9.181" />
  <package id="HtmlTags" version="1.1.0.115" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RazorEngine" version="3.0.8" />
  <package id="RhinoMocks" version="3.6.1" />
  <package id="structuremap" version="2.6.3" />
  <package id="structuremap.automocking" version="2.6.3" />
</packages>