@model ViewEngineIntegrationTesting.ViewEngines.Razor.LayoutsAndSections.One.HasLayoutsWithSectionModel
<h1>@Model.Message</h1>
<p>HasLayoutWithSections.cshtml</p>
@section header
{
    <header>Header from template.</header>
}